{% extends 'honeypot/base.django.html' %}
{% load static %}

<style>
  {% block css %}

  .form-wrapper{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .form-wrapper .form{
      max-width: 350px;
      padding: var(--sp-1);
  }
  {% endblock css %}
</style>


{% block body %}
<div class="form-wrapper">
    <form class="form" method="post" >{% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
</div>
{% endblock body %}
    
