{% extends 'staff/base.django.html' %} {% load i18n %}

<style>
  {% block css %}

  .staff-signin-container{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .staff-signin-container .content{
      max-width: 350px;
      padding: var(--sp-1);

  }
  {% endblock css %}
</style>

{% block pre_react %}

<div class="staff-signin-container">
  <div class="content flex-1">
    {% block form %}

    <form class="form form-signin" method="post" action="{% url 'staff:login' %}">
      {% csrf_token %}

      <div class="d-flex align-items-top justify-content-between mb-3">
        <div class="">
          <span class="lead">{% trans "Sign in" %}</span>
          {% if next %}
          <div class="small">{% trans "to see this page" %}</div>
          {% endif %}
        </div>
      </div>

      <div class="card-body">
        <label for="username" class="d-block sr-only form-label mb-1">{% trans "Username" %}</label>
        <input
          required
          autofocus
          type="text"
          name="username"
          id="username"
          autocomplete="username"
          class="miq-input {% if form.username.errors %}is-invalid{% endif %} mb-2"
          placeholder='{% trans "Username" %}'
        />

        {% comment %}
        <div className="invalid-feedback">{error}</div>
        {% endcomment %}

        <label for="password" class="d-block sr-only form-label mb-1">{% trans "Password" %}</label>
        <input
          required
          type="password"
          name="password"
          id="password"
          class="miq-input mb-4"
          placeholder="Password"
          autocomplete="current-password"
        />

        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>

        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
    {% endblock form %}
  </div>
</div>

{% endblock pre_react %} {% block react %}{% endblock react %}
