{% extends 'base.django.html' %}
{% load i18n %}
{% load static %}

{% block meta %} {{ block.super }}
  {% include "miq/meta.html" %} 
{% endblock meta %}

{% block css_links %}
  <link href="{% static "miq.css" %}?{% now "U" %}" rel="stylesheet">
{% endblock css_links %}

{% block pre_react %}
{% if is_live is False and request.path != '/login/' and not request.user.is_staff %}
  <!-- CLOSE -->{% include 'miq/index-close.html' %}<!-- CLOSE END -->
{% else %}
<!-- OPEN -->
<div class="public">
  <!-- HEADER -->
  <header id="public-header">
    {% block navbar %}
      <div class="header-navbar"><a href="/" class="header-logo">{{site.name}}</a></div>
    {% endblock navbar %}

    {% block header %}{% endblock header %}
  </header>
  <!-- HEADER END -->

  <!-- MAIN --><main id="public-main" role="main">{% block main %}{% endblock main %}</main><!-- MAIN END -->
</div>
<!-- OPEN END -->
{% endif %}
{% endblock pre_react %}


{% block react %}<!-- JS -->{{ block.super }}<!-- JS END -->{% endblock react %}


{% block post_react %}
<!-- FOOTER -->
<footer id="public-footer">
  {% block footer %}{% endblock footer %}

  {% block whatsapp %} 
  {% if whatsapp_link %}
  <div class="contact-whatsapp">
    <a
      class="whatsapp-link"
      href="{{ whatsapp_link }}"
      target="_blank"
      rel="noopener noreferrer"
      title="{{whatsapp_link_title}}"
      aria-label="{{whatsapp_link_title}}"
    >
      {% include 'miq/components/whatsapp-icon.html' %}
    </a>
  </div>

{% endif %} 
{% endblock whatsapp %}
</footer>
<!-- FOOTER END -->

{% endblock post_react %}

{% block head_scripts %}
  {% include "miq/ga-tracking-code.django.html" %}
  {% include "miq/fb-pixel-code.django.html" %}
{% endblock head_scripts %}
